* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "roboto",sans-serif;
    background-color: #f3f3f3;
}

.App {
    display: flex;
    align-items: center;
    flex-direction: column;
}
section{
    margin: 2rem 0 1rem 0;
}
.controls {
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input {
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: #f49595;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}
button:hover {
    cursor: pointer;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    text-align: center;
    margin-bottom: 2rem;
}
.meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    width: 100%;
    margin-bottom: 1rem;

}
article {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 0 2rem;
    margin: 0 1.5rem 2rem;
    max-width: 18rem;
    box-shadow: 0 4px 8px 2px rgb(77, 77, 77, 0.15);
    flex-basis: calc(33.33% - 2rem);
    position: relative;
}

.instructions {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}
.button-round {
    width: 2em;
    height: 2em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top:0.5rem;
}

.button-round::before,
.button-round::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 2px;
    background-color: red;
    transform: translate(-50%, -50%) rotate(45deg);
}

.button-round::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.overlay>* {
    position: relative;
    z-index: 1;
}